<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<h1>The Computation Society</h1>
</head>
<body>

    <div>
        <p>Welcome to the Computation Society! We are a community of enthusiasts who love to explore the world of computation and programming. </p>
        <p>Join us for discussions, projects, and events that will enhance your skills and knowledge in the field.</p>
        <p>Whether you are a beginner or an experienced programmer, there is something for everyone. Connect with like-minded individuals, collaborate on projects, and learn from each other.</p>
        <p>Stay tuned for upcoming events and activities. We look forward to seeing you at our next meeting!</p>
    </div>
    
</body>
</html>